xml-resources/web-service-references/WebServiceMain/wsdl/localhost_8080/WebServiceMain/WebServiceMain.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://celusoft.me.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://celusoft.me.org/" name="WebServiceMain">
<types>
<xsd:schema>
<xsd:import namespace="http://celusoft.me.org/" schemaLocation="http://localhost:8080/WebServiceMain/WebServiceMain?xsd=1"/>
</xsd:schema>
</types>
<message name="obtenerConsumoMinutos">
<part name="parameters" element="tns:obtenerConsumoMinutos"/>
</message>
<message name="obtenerConsumoMinutosResponse">
<part name="parameters" element="tns:obtenerConsumoMinutosResponse"/>
</message>
<message name="obtenerConsumoDatos">
<part name="parameters" element="tns:obtenerConsumoDatos"/>
</message>
<message name="obtenerConsumoDatosResponse">
<part name="parameters" element="tns:obtenerConsumoDatosResponse"/>
</message>
<message name="obtenerConsumoMensajes">
<part name="parameters" element="tns:obtenerConsumoMensajes"/>
</message>
<message name="obtenerConsumoMensajesResponse">
<part name="parameters" element="tns:obtenerConsumoMensajesResponse"/>
</message>
<message name="obtenerConsumoMinutosWhatsapp">
<part name="parameters" element="tns:obtenerConsumoMinutosWhatsapp"/>
</message>
<message name="obtenerConsumoMinutosWhatsappResponse">
<part name="parameters" element="tns:obtenerConsumoMinutosWhatsappResponse"/>
</message>
<message name="obtenerConsumoChatWhatsapp">
<part name="parameters" element="tns:obtenerConsumoChatWhatsapp"/>
</message>
<message name="obtenerConsumoChatWhatsappResponse">
<part name="parameters" element="tns:obtenerConsumoChatWhatsappResponse"/>
</message>
<message name="obtenerConsumoFacebook">
<part name="parameters" element="tns:obtenerConsumoFacebook"/>
</message>
<message name="obtenerConsumoFacebookResponse">
<part name="parameters" element="tns:obtenerConsumoFacebookResponse"/>
</message>
<message name="obtenerConsumoWaze">
<part name="parameters" element="tns:obtenerConsumoWaze"/>
</message>
<message name="obtenerConsumoWazeResponse">
<part name="parameters" element="tns:obtenerConsumoWazeResponse"/>
</message>
<message name="obtenerConsumoLlamadaEEUU">
<part name="parameters" element="tns:obtenerConsumoLlamadaEEUU"/>
</message>
<message name="obtenerConsumoLlamadaEEUUResponse">
<part name="parameters" element="tns:obtenerConsumoLlamadaEEUUResponse"/>
</message>
<message name="obtenerConsumoLlamadaCanada">
<part name="parameters" element="tns:obtenerConsumoLlamadaCanada"/>
</message>
<message name="obtenerConsumoLlamadaCanadaResponse">
<part name="parameters" element="tns:obtenerConsumoLlamadaCanadaResponse"/>
</message>
<message name="obtenerConsumoLlamadaPuertoRico">
<part name="parameters" element="tns:obtenerConsumoLlamadaPuertoRico"/>
</message>
<message name="obtenerConsumoLlamadaPuertoRicoResponse">
<part name="parameters" element="tns:obtenerConsumoLlamadaPuertoRicoResponse"/>
</message>
<message name="obtenerConsumoDatosCompartir">
<part name="parameters" element="tns:obtenerConsumoDatosCompartir"/>
</message>
<message name="obtenerConsumoDatosCompartirResponse">
<part name="parameters" element="tns:obtenerConsumoDatosCompartirResponse"/>
</message>
<portType name="WebServiceMain">
<operation name="obtenerConsumoMinutos">
<input wsam:Action="http://celusoft.me.org/WebServiceMain/obtenerConsumoMinutosRequest" message="tns:obtenerConsumoMinutos"/>
<output wsam:Action="http://celusoft.me.org/WebServiceMain/obtenerConsumoMinutosResponse" message="tns:obtenerConsumoMinutosResponse"/>
</operation>
<operation name="obtenerConsumoDatos">
<input wsam:Action="http://celusoft.me.org/WebServiceMain/obtenerConsumoDatosRequest" message="tns:obtenerConsumoDatos"/>
<output wsam:Action="http://celusoft.me.org/WebServiceMain/obtenerConsumoDatosResponse" message="tns:obtenerConsumoDatosResponse"/>
</operation>
<operation name="obtenerConsumoMensajes">
<input wsam:Action="http://celusoft.me.org/WebServiceMain/obtenerConsumoMensajesRequest" message="tns:obtenerConsumoMensajes"/>
<output wsam:Action="http://celusoft.me.org/WebServiceMain/obtenerConsumoMensajesResponse" message="tns:obtenerConsumoMensajesResponse"/>
</operation>
<operation name="obtenerConsumoMinutosWhatsapp">
<input wsam:Action="http://celusoft.me.org/WebServiceMain/obtenerConsumoMinutosWhatsappRequest" message="tns:obtenerConsumoMinutosWhatsapp"/>
<output wsam:Action="http://celusoft.me.org/WebServiceMain/obtenerConsumoMinutosWhatsappResponse" message="tns:obtenerConsumoMinutosWhatsappResponse"/>
</operation>
<operation name="obtenerConsumoChatWhatsapp">
<input wsam:Action="http://celusoft.me.org/WebServiceMain/obtenerConsumoChatWhatsappRequest" message="tns:obtenerConsumoChatWhatsapp"/>
<output wsam:Action="http://celusoft.me.org/WebServiceMain/obtenerConsumoChatWhatsappResponse" message="tns:obtenerConsumoChatWhatsappResponse"/>
</operation>
<operation name="obtenerConsumoFacebook">
<input wsam:Action="http://celusoft.me.org/WebServiceMain/obtenerConsumoFacebookRequest" message="tns:obtenerConsumoFacebook"/>
<output wsam:Action="http://celusoft.me.org/WebServiceMain/obtenerConsumoFacebookResponse" message="tns:obtenerConsumoFacebookResponse"/>
</operation>
<operation name="obtenerConsumoWaze">
<input wsam:Action="http://celusoft.me.org/WebServiceMain/obtenerConsumoWazeRequest" message="tns:obtenerConsumoWaze"/>
<output wsam:Action="http://celusoft.me.org/WebServiceMain/obtenerConsumoWazeResponse" message="tns:obtenerConsumoWazeResponse"/>
</operation>
<operation name="obtenerConsumoLlamadaEEUU">
<input wsam:Action="http://celusoft.me.org/WebServiceMain/obtenerConsumoLlamadaEEUURequest" message="tns:obtenerConsumoLlamadaEEUU"/>
<output wsam:Action="http://celusoft.me.org/WebServiceMain/obtenerConsumoLlamadaEEUUResponse" message="tns:obtenerConsumoLlamadaEEUUResponse"/>
</operation>
<operation name="obtenerConsumoLlamadaCanada">
<input wsam:Action="http://celusoft.me.org/WebServiceMain/obtenerConsumoLlamadaCanadaRequest" message="tns:obtenerConsumoLlamadaCanada"/>
<output wsam:Action="http://celusoft.me.org/WebServiceMain/obtenerConsumoLlamadaCanadaResponse" message="tns:obtenerConsumoLlamadaCanadaResponse"/>
</operation>
<operation name="obtenerConsumoLlamadaPuertoRico">
<input wsam:Action="http://celusoft.me.org/WebServiceMain/obtenerConsumoLlamadaPuertoRicoRequest" message="tns:obtenerConsumoLlamadaPuertoRico"/>
<output wsam:Action="http://celusoft.me.org/WebServiceMain/obtenerConsumoLlamadaPuertoRicoResponse" message="tns:obtenerConsumoLlamadaPuertoRicoResponse"/>
</operation>
<operation name="obtenerConsumoDatosCompartir">
<input wsam:Action="http://celusoft.me.org/WebServiceMain/obtenerConsumoDatosCompartirRequest" message="tns:obtenerConsumoDatosCompartir"/>
<output wsam:Action="http://celusoft.me.org/WebServiceMain/obtenerConsumoDatosCompartirResponse" message="tns:obtenerConsumoDatosCompartirResponse"/>
</operation>
</portType>
<binding name="WebServiceMainPortBinding" type="tns:WebServiceMain">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="obtenerConsumoMinutos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerConsumoDatos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerConsumoMensajes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerConsumoMinutosWhatsapp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerConsumoChatWhatsapp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerConsumoFacebook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerConsumoWaze">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerConsumoLlamadaEEUU">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerConsumoLlamadaCanada">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerConsumoLlamadaPuertoRico">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerConsumoDatosCompartir">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebServiceMain">
<port name="WebServiceMainPort" binding="tns:WebServiceMainPortBinding">
<soap:address location="http://localhost:8080/WebServiceMain/WebServiceMain"/>
</port>
</service>
</definitions>